[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jli9056
[access "refs/for/refs/*"]
	read = group user/jli9056
	push = group user/jli9056
	label-Code-Review = -2..+2 group user/jli9056
	label-Verified = -1..+1 group user/jli9056
	rebase = group user/jli9056
	removeReviewer = group user/jli9056
	submit = group user/jli9056
[access "refs/heads/*"]
	read = group user/jli9056
	create = group user/jli9056
	push = +force group user/jli9056
	pushMerge = group user/jli9056
[access "refs/tags/*"]
	push = group user/jli9056
	push = +force group user/jli9056
